# Dataloading

In [5]:
%load_ext autoreload
%autoreload 2

import os
import sys
import pandas as pd

module_path = os.path.abspath(os.path.join(os.pardir, os.pardir, 'src'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from modules import dataloading as dl
data_targetdir = '../../src/data/'
csv_targetdir = '../../src/csv/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
df = dl.CPS_raw(targetdir, ['sep2020'], None)

In [3]:
df.head()

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,HEPHONEO,...,PEPDEMP1,PTNMEMP1,PEPDEMP2,PTNMEMP2,PECERT1,PECERT2,PECERT3,PXCERT1,PXCERT2,PXCERT3
0,71691004941,9,2020,-1,226,-1,1,-1,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,110233098483,9,2020,-1,248,-1,1,-1,-1,0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,110327856469,9,2020,1,201,-1,1,1,-1,1,...,-1,-1,-1,-1,2,-1,-1,20,0,0
3,110359424339,9,2020,1,201,-1,1,1,-1,1,...,-1,-1,-1,-1,1,1,1,0,0,0
4,110359424339,9,2020,1,201,-1,1,1,-1,1,...,-1,-1,-1,-1,1,1,1,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133448 entries, 0 to 133447
Columns: 387 entries, HRHHID to PXCERT3
dtypes: int64(387)
memory usage: 394.0 MB

## Double-checking that each variable lines up with data dict

PEHRRSN1		2		WHAT IS YOUR MAIN REASON FOR					229 - 230
 					WORKING PART-TIME?

					EDITED UNIVERSE:	PEHRWANT = 1 (PEMLR = 1 AND PEHRUSLT < 35)                        
					
					VALID ENTRIES

					1      SLACK WORK/BUSINESS CONDITIONS
					2      COULD ONLY FIND PART-TIME WORK
					3      SEASONAL WORK
					4      CHILD CARE PROBLEMS
					5      OTHER FAMILY/PERSONAL OBLIGATIONS
					6      HEALTH/MEDICAL LIMITATIONS
					7      SCHOOL/TRAINING
					8      RETIRED/SOCIAL SECURITY LIMIT ON EARNINGS
					9      FULL-TIME WORKWEEK IS LESS THAN 35 HRS
					10    OTHER - SPECIFY

In [20]:
df[df.PERRP.isin([40,41,-1])].PEHRRSN1.value_counts()

-1     67813
 1       421
 2       130
 10      115
 5        39
 7        30
 4        29
 6        16
 9         9
 3         8
 8         6
Name: PEHRRSN1, dtype: int64

PEHRWANT		2		DO YOU WANT TO WORK A FULL-TIME 				227 - 228
					WORK WEEK OF 35 HOURS OR MORE PER WEEK?

					EDITED UNIVERSE:	PEMLR = 1 AND (PEHRUSLT = 0-34
									PEHRFTPT = 2)

					VALID ENTRIES

					1      YES
					2      NO
					3      REGULAR HOURS ARE FULL-TIME

In [21]:
df[df.PERRP.isin([40,41,-1])].PEHRWANT.value_counts()

-1    65091
 2     2123
 1      803
 3      599
Name: PEHRWANT, dtype: int64

GTMETSTA		1		METROPOLITAN STATUS							105 - 105

EDITED UNIVERSE:	ALL HHLD's IN SAMPLE

VALID ENTRIES

1	METROPOLITAN
2	NONMETROPOLITAN
3	NOT IDENTIFIED

In [22]:
df[df.PERRP.isin([40,41,-1])].GTMETSTA.value_counts()

1    53556
2    14322
3      738
Name: GTMETSTA, dtype: int64

GTCBSA			5		SPECIFIC METROPOLITAN CBSA CODE 				96 - 100
					(SEE GEOGRAPHIC ATTACHMENT)
								
					EDITED UNIVERSE:	ALL HHLD's IN SAMPLE

					VALID ENTRIES

					00000	NOT IDENTIFIED OR NONMETROPOLITAN
					10180	MIN VALUE
					49740	MAX VALUE

In [23]:
df[df.PERRP.isin([40,41,-1])].GTCBSA.value_counts()

0        19203
35620     2777
47900     2269
31080     1556
16980     1300
         ...
40980       27
13980       24
48140       24
31420       23
47220       16
Name: GTCBSA, Length: 261, dtype: int64

GTCSA			3		Consolidated Statistical Area (CSA) FIPS CODE			108-110
					(SEE GEOGRAPHIC ATTACHMENT) 

EDITED UNIVERSE:	ALL HHLD's IN SAMPLE

VALID ENTRIES

000	NOT IDENTIFIED OR NONMETROPOLITAN
104	MIN VALUE
548	MAX VALUE

In [24]:
df[df.PERRP.isin([40,41,-1])].GTCSA.value_counts()

0      41204
408     3304
548     2877
148     2458
348     2195
428     1535
176     1300
488     1104
206     1056
370      937
122      875
220      778
482      684
500      664
106      632
440      617
216      507
184      501
422      487
340      431
170      347
438      332
278      281
376      279
450      271
273      267
268      265
162      232
380      227
266      214
238      203
518      187
104      183
276      148
357      134
174      131
304      124
515      123
194      111
168      105
310       95
546       83
118       59
356       53
378       16
Name: GTCSA, dtype: int64

PRDASIAN		2		DETAILED ASIAN RACE RECODE					934 â€“ 935

							EDITED UNIVERSE:  	PTDTRACE = 4

							VALID ENTRIES

							1 = Asian Indian
							2 = Chinese
							3 = Filipino
							4 = Japanese
							5 = Korean
							6 = Vietnamese
							7 = Other

In [25]:
df[df.PERRP.isin([40,41,-1])].PRDASIAN.value_counts()

-1    66472
 2      489
 1      432
 7      347
 3      299
 4      208
 5      190
 6      179
Name: PRDASIAN, dtype: int64

# Creating CSV

In [38]:
df = pd.read_csv(dl.employed_adults_csv(csv_targetdir, data_targetdir, ['apr2020', 'jul2020']))

In [43]:
df.PRPERTYP_x.value_counts()

2    3983
Name: PRPERTYP_x, dtype: int64

In [44]:
df.PRPERTYP_y.value_counts()

2    3983
Name: PRPERTYP_y, dtype: int64

In [47]:
df.PREMPNOT_x.value_counts()

1    3983
Name: PREMPNOT_x, dtype: int64

In [46]:
df.PREMPNOT_y.value_counts()

1    3695
4     158
2     127
3       3
Name: PREMPNOT_y, dtype: int64