# T-Tests

In [13]:
%load_ext autoreload
%autoreload 2

import os
import sys
import pandas as pd
from scipy.stats import ttest_ind
    


df = pd.read_csv('../../src/csv/final_dataframe.csv')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
df.head()

,HEHOUSUT,HWHHWGT,GTMETSTA,HEFAMINC,HRNUMHOU,HRHTYPE,PRTAGE,PEMARITL,PENATVTY,PRINUSYR,...,PEEDUCA_45,PEEDUCA_46,PTDTRACE_1,PTDTRACE_3,PEHSPNON_2,population,case_delta,party,percent_red,pop_density
0,1,40182430,1,16,3,1,31,1,1,0,...,0,0,0,0,1,4903185.0,57709.606452,1.0,62.087493,95.0
1,1,26376142,1,15,3,1,53,1,1,0,...,0,0,0,0,1,4903185.0,57709.606452,1.0,62.087493,95.0
2,1,37961372,1,13,3,1,53,1,1,0,...,0,0,0,0,1,4903185.0,57709.606452,1.0,62.087493,95.0
3,1,38997054,1,15,4,1,35,1,1,0,...,0,0,0,0,1,4903185.0,57709.606452,1.0,62.087493,95.0
4,1,42003612,1,11,8,3,40,0,1,0,...,0,0,1,0,1,4903185.0,57709.606452,1.0,62.087493,95.0

In [11]:
employed_hrs = df[df.target == 0][['PEHRACTT']]
unemployed_hrs = df[df.target == 1][['PEHRACTT']]
print(employed_hrs.shape)
unemployed_hrs.shape

(3622, 1)

(281, 1)

In [14]:
ttest_ind(employed_hrs, unemployed_hrs, equal_var=False)

Ttest_indResult(statistic=array([10.52185702]), pvalue=array([2.42541487e-22]))