In [64]:
import pandas as pd
import geopandas as gpd
import numpy as np

%matplotlib inline

In [198]:
# shape file
us_shape = gpd.read_file('../../src/data/cb_2018_us_state_500k.shp')

# president voting data
us_presidency = pd.read_csv('../../src/data/president_county_candidate.csv')

# Covid data per state
df_covid = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv')

# Covid data for all of the USA
df_us_total = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv')

# Population estimates for all of the USA
state_population = pd.read_csv('../../src/data/state_population.csv')

# governers per state

url = 'https://en.wikipedia.org/wiki/List_of_current_United_States_governors'
governers_list = pd.read_html(url)
df_gov = governers_list[0]#[['State', 'Governer', 'Party.1']]
df_gov = df_gov.iloc[:,[0,2,4]]

In [58]:
us_shape.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ..."
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ..."
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6..."
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ..."
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169..."

# Create a column called 'percent republican' 

## The percentage of republican voters per state

In [53]:
trump_votes = us_presidency[us_presidency.candidate == 'Donald Trump'].groupby(['state']).votes.sum()
all_votes = us_presidency.groupby(['state']).votes.sum()
percent_red = trump_votes/all_votes * 100

# Normalize data by total cases in the US

In [95]:
# Normalize state covid by total us cases at that time
df_covid_total = df_covid.merge(df_us_total, left_on='date', right_on='date')
df_covid_total['cases_norm'] = df_covid_total.cases_x/df_covid_total.cases_y
df_covid_total['deaths_norm'] = df_covid_total.deaths_x/df_covid_total.deaths_y
df_covid_total_norm = df_covid_total.replace(np.nan, 0)[['date','state', 'cases_norm', 'deaths_norm']]
df_covid_total_norm

             date          state  cases_norm  deaths_norm
0      2020-01-21     Washington    1.000000     0.000000
1      2020-01-22     Washington    1.000000     0.000000
2      2020-01-23     Washington    1.000000     0.000000
3      2020-01-24       Illinois    0.500000     0.000000
4      2020-01-24     Washington    0.500000     0.000000
...           ...            ...         ...          ...
13814  2020-11-08       Virginia    0.019102     0.015574
13815  2020-11-08     Washington    0.012157     0.010721
13816  2020-11-08  West Virginia    0.002823     0.002109
13817  2020-11-08      Wisconsin    0.028021     0.010066
13818  2020-11-08        Wyoming    0.001721     0.000479

[13819 rows x 4 columns]

# Filter the month to the month of July percent cases and deaths

In [94]:
df_covid_total.date = pd.to_datetime(df_covid_total.date)
df_covid_total['month'] = df_covid_total.date.dt.strftime('%m')
percent_cases_state = df_covid_total[df_covid_total.month == '07'].groupby(['state']).cases_norm.mean() * 100 
percent_deaths_state = df_covid_total[df_covid_total.month == '07'].groupby(['state']).deaths_norm.mean() * 100

In [22]:
df_us_total.head()

         date  cases  deaths
0  2020-01-21      1       0
1  2020-01-22      1       0
2  2020-01-23      1       0
3  2020-01-24      2       0
4  2020-01-25      3       0

# Pull STATE NAME and population estimates

In [52]:
df_state_data = state_population[['STATE', 'NAME', 'POPESTIMATE2019']]

# Create a "change in cases" column

In [153]:
# Merge total cases with united states cases 
df_covid_total = df_covid.merge(df_us_total,
                                left_on='date',
                                right_on='date',
                                suffixes=('_state', '_national'))

# convert date to datetime object
df_covid_total.date = pd.to_datetime(df_covid_total.date)

# create a months column and then take the mean
df_covid_total['month'] = df_covid_total.date.dt.strftime('%m')


# April cases
df_covid_total_april = df_covid_total[df_covid_total.month == '04']
april_cases = df_covid_total_april.groupby(['state']).cases_state.mean()

# July cases
df_covid_total_july = df_covid_total[df_covid_total.month == '07']
july_cases = df_covid_total_july.groupby(['state']).cases_state.mean()

# Increase in Cases
change_in_cases = july_cases - april_cases

change_in_cases
# df_covid_total['cases_state'] = cases_state
# df_covid_total['deaths_state'] = deaths_state


df_covid_pop = df_covid_total.merge(df_state_data, left_on= 'state', right_on='NAME')
df_covid_pop

,date,state,fips,cases_state,deaths_state,cases_national,deaths_national,month,STATE,NAME,POPESTIMATE2019
0,2020-01-21,Washington,53,1,0,1,0,01,53,Washington,7614893
1,2020-01-22,Washington,53,1,0,1,0,01,53,Washington,7614893
2,2020-01-23,Washington,53,1,0,1,0,01,53,Washington,7614893
3,2020-01-24,Washington,53,1,0,2,0,01,53,Washington,7614893
4,2020-01-25,Washington,53,1,0,3,0,01,53,Washington,7614893
...,...,...,...,...,...,...,...,...,...,...,...
12868,2020-11-04,West Virginia,54,25987,472,9576594,234223,11,54,West Virginia,1792147
12869,2020-11-05,West Virginia,54,26547,480,9698098,235331,11,54,West Virginia,1792147
12870,2020-11-06,West Virginia,54,27087,487,9830895,236554,11,54,West Virginia,1792147
12871,2020-11-07,West Virginia,54,27742,502,9957051,237567,11,54,West Virginia,1792147
12872,2020-11-08,West Virginia,54,28404,502,10060708,238031,11,54,West Virginia,1792147

In [154]:
df_covid_pop

,date,state,fips,cases_state,deaths_state,cases_national,deaths_national,month,STATE,NAME,POPESTIMATE2019
0,2020-01-21,Washington,53,1,0,1,0,01,53,Washington,7614893
1,2020-01-22,Washington,53,1,0,1,0,01,53,Washington,7614893
2,2020-01-23,Washington,53,1,0,1,0,01,53,Washington,7614893
3,2020-01-24,Washington,53,1,0,2,0,01,53,Washington,7614893
4,2020-01-25,Washington,53,1,0,3,0,01,53,Washington,7614893
...,...,...,...,...,...,...,...,...,...,...,...
12868,2020-11-04,West Virginia,54,25987,472,9576594,234223,11,54,West Virginia,1792147
12869,2020-11-05,West Virginia,54,26547,480,9698098,235331,11,54,West Virginia,1792147
12870,2020-11-06,West Virginia,54,27087,487,9830895,236554,11,54,West Virginia,1792147
12871,2020-11-07,West Virginia,54,27742,502,9957051,237567,11,54,West Virginia,1792147
12872,2020-11-08,West Virginia,54,28404,502,10060708,238031,11,54,West Virginia,1792147

In [155]:
# Turn state delta into a dataframe

case_delta = pd.DataFrame(change_in_cases)
case_delta.columns = ['case_delta']

In [156]:
df_covid_pop_state_delta = df_covid_pop.merge(case_delta, how='inner', on='state')

In [159]:
df_covid_pop_state_delta.columns = [x.lower() for x in df_covid_pop_state_delta.columns]

In [161]:
df_covid_pop_state_delta.iloc[:, 8]

0        53
1        53
2        53
3        53
4        53
         ..
12868    54
12869    54
12870    54
12871    54
12872    54
Name: state, Length: 12873, dtype: int64

In [178]:
columns = df_covid_pop_state_delta.columns.to_list()
columns[8] = 'drop'
df_covid_pop_state_delta.columns = columns

In [181]:
df_covid_pop_state_delta = df_covid_pop_state_delta.drop(columns=['drop', 'name'])

# Merge the the state part data on state

In [192]:
df_gov.columns = ['state', 'governer', 'party']
party = df_gov[['state', 'party']]
party.party[22] = 'Democratic'
party.party[47] = 'Republican'

/Users/TjH/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2878: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [201]:
df_covid_pop_state_party = df_covid_pop_state_delta.merge(party, on='state')

In [203]:
us_shape

,statefp,statens,affgeoid,geoid,stusps,name,lsad,aland,awater,geometry
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ..."
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ..."
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6..."
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ..."
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169..."
5,22,01629543,0400000US22,22,LA,Louisiana,00,111897594374,23753621895,"MULTIPOLYGON (((-88.86770 29.86155, -88.86566 ..."
6,26,01779789,0400000US26,26,MI,Michigan,00,146600952990,103885855702,"MULTIPOLYGON (((-83.19159 42.03537, -83.18993 ..."
7,25,00606926,0400000US25,25,MA,Massachusetts,00,20205125364,7129925486,"MULTIPOLYGON (((-70.23405 41.28565, -70.22361 ..."
8,16,01779783,0400000US16,16,ID,Idaho,00,214049787659,2391722557,"POLYGON ((-117.24267 44.39655, -117.23484 44.3..."
9,12,00294478,0400000US12,12,FL,Florida,00,138949136250,31361101223,"MULTIPOLYGON (((-80.17628 25.52505, -80.17395 ..."
10,31,01779792,0400000US31,31,NE,Nebraska,00,198956658395,1371829134,"POLYGON ((-104.05342 41.17054, -104.05324 41.1..."
11,53,01779804,0400000US53,53,WA,Washington,00,172112588220,12559278850,"MULTIPOLYGON (((-122.57039 48.53785, -122.5686..."
12,35,00897535,0400000US35,35,NM,New Mexico,00,314196306401,728776523,"POLYGON ((-109.05017 31.48000, -109.04984 31.4..."
13,72,01779808,0400000US72,72,PR,Puerto Rico,00,8868896030,4922382562,"MULTIPOLYGON (((-65.23805 18.32167, -65.23467 ..."
14,46,01785534,0400000US46,46,SD,South Dakota,00,196346981786,3382720225,"POLYGON ((-104.05788 44.99761, -104.05078 44.9..."
15,48,01779801,0400000US48,48,TX,Texas,00,676653171537,19006305260,"MULTIPOLYGON (((-94.71830 29.72885, -94.71721 ..."
16,06,01779778,0400000US06,06,CA,California,00,403503931312,20463871877,"MULTIPOLYGON (((-118.60442 33.47855, -118.5987..."
17,01,01779775,0400000US01,01,AL,Alabama,00,131174048583,4593327154,"MULTIPOLYGON (((-88.05338 30.50699, -88.05109 ..."
18,13,01705317,0400000US13,13,GA,Georgia,00,149482048342,4422936154,"MULTIPOLYGON (((-81.27939 31.30792, -81.27716 ..."
19,42,01779798,0400000US42,42,PA,Pennsylvania,00,115884442321,3394589990,"POLYGON ((-80.51989 40.90666, -80.51909 40.921..."
20,29,01779791,0400000US29,29,MO,Missouri,00,178050802184,2489425460,"POLYGON ((-95.77355 40.57820, -95.76853 40.583..."
21,08,01779779,0400000US08,08,CO,Colorado,00,268422891711,1181621593,"POLYGON ((-109.06025 38.59933, -109.05954 38.7..."
22,49,01455989,0400000US49,49,UT,Utah,00,212886221680,6998824394,"POLYGON ((-114.05296 37.59278, -114.05247 37.6..."
23,47,01325873,0400000US47,47,TN,Tennessee,00,106802728188,2350123465,"POLYGON ((-90.31030 35.00429, -90.30988 35.009..."
24,56,01779807,0400000US56,56,WY,Wyoming,00,251458544898,1867670745,"POLYGON ((-111.05456 45.00095, -111.04507 45.0..."
25,36,01779796,0400000US36,36,NY,New York,00,122049149763,19246994695,"MULTIPOLYGON (((-72.03683 41.24984, -72.03496 ..."
26,20,00481813,0400000US20,20,KS,Kansas,00,211755344060,1344141205,"POLYGON ((-102.05174 40.00308, -101.91670 40.0..."
27,02,01785533,0400000US02,02,AK,Alaska,00,1478839695958,245481577452,"MULTIPOLYGON (((179.48246 51.98283, 179.48656 ..."
28,32,01779793,0400000US32,32,NV,Nevada,00,284329506470,2047206072,"POLYGON ((-120.00574 39.22866, -120.00559 39.2..."
29,17,01779784,0400000US17,17,IL,Illinois,00,143780567633,6214824948,"POLYGON ((-91.51297 40.18106, -91.51107 40.188..."
30,50,01779802,0400000US50,50,VT,Vermont,00,23874175944,1030416650,"POLYGON ((-73.43774 44.04501, -73.43199 44.063..."
31,30,00767982,0400000US30,30,MT,Montana,00,376962738765,3869208832,"POLYGON ((-116.04914 48.50205, -116.04913 48.5..."
32,19,01779785,0400000US19,19,IA,Iowa,00,144661267977,1084180812,"POLYGON ((-96.63970 42.73707, -96.63589 42.741..."
33,45,01779799,0400000US45,45,SC,South Carolina,00,77864918488,5075218778,"MULTIPOLYGON (((-79.50795 33.02008, -79.50713 ..."
34,33,01779794,0400000US33,33,NH,New Hampshire,00,23189413166,1026675248,"MULTIPOLYGON (((-70.61702 42.97718, -70.61529 ..."
35,04,01779777,0400000US04,04,AZ,Arizona,00,294198551143,1027337603,"POLYGON ((-114.81629 32.50804, -114.81432 32.5..."
36,11,01702382,0400000US11,11,DC,District of Columbia,00,158340391,18687198,"POLYGON ((-77.11976 38.93434, -77.11253 38.940..."
37,60,01802701,0400000US60,60,AS,American Samoa,00,197759063,1307243754,"MULTIPOLYGON (((-168.14582 -14.54791, -168.145..."
38,78,01802710,0400000US78,78,VI,United States Virgin Islands,00,348021896,1550236201,"MULTIPOLYGON (((-64.62799 17.78933, -64.62717 ..."
39,34,01779795,0400000US34,34,NJ,New Jersey,00,19047825980,3544860246,"POLYGON ((-75.55910 39.62906, -75.55945 39.629..."
40,24,01714934,0400000US24,24,MD,Maryland,00,25151100280,6979966958,"MULTIPOLYGON (((-76.05015 37.98691, -76.04998 ..."
41,23,01779787,0400000US23,23,ME,Maine,00,79887426037,11746549764,"MULTIPOLYGON (((-67.35580 44.64226, -67.35437 ..."
42,15,01779782,0400000US15,15,HI,Hawaii,00,16633990195,11777809026,"MULTIPOLYGON (((-156.06076 19.73055, -156.0566..."
43,10,01779781,0400000US10,10,DE,Delaware,00,5045925646,1399985648,"MULTIPOLYGON (((-75.56555 39.51485, -75.56174 ..."
44,66,01802705,0400000US66,66,GU,Guam,00,543555840,934337453,"MULTIPOLYGON (((144.64538 13.23627, 144.64716 ..."
45,69,01779809,0400000US69,69,MP,Commonwealth of the Northern Mariana Islands,00,472292529,4644252461,"MULTIPOLYGON (((146.05103 16.00674, 146.05167 ..."
46,44,01219835,0400000US44,44,RI,Rhode Island,00,2677779902,1323670487,"MULTIPOLYGON (((-71.28802 41.64558, -71.28647 ..."
47,21,01779786,0400000US21,21,KY,Kentucky,00,102279490672,2375337755,"MULTIPOLYGON (((-89.40565 36.52817, -89.39869 ..."
48,39,01085497,0400000US39,39,OH,Ohio,00,105828882568,10268850702,"MULTIPOLYGON (((-82.73571 41.60336, -82.73392 ..."
49,55,01779806,0400000US55,55,WI,Wisconsin,00,140290039723,29344951758,"MULTIPOLYGON (((-86.95617 45.35549, -86.95463 ..."
50,41,01155107,0400000US41,41,OR,Oregon,00,248606993270,6192386935,"MULTIPOLYGON (((-123.59892 46.25145, -123.5984..."
51,38,01779797,0400000US38,38,ND,North Dakota,00,178707534813,4403267548,"POLYGON ((-104.04868 48.86378, -104.04865 48.8..."
52,05,00068085,0400000US05,05,AR,Arkansas,00,134768872727,2962859592,"POLYGON ((-94.61783 36.49941, -94.61765 36.499..."
53,18,00448508,0400000US18,18,IN,Indiana,00,92789302676,1538002829,"POLYGON ((-88.09776 37.90403, -88.09448 37.905..."
54,27,00662849,0400000US27,27,MN,Minnesota,00,206228939448,18945217189,"MULTIPOLYGON (((-89.59206 47.96668, -89.59147 ..."
55,09,01779780,0400000US09,09,CT,Connecticut,00,12542497068,1815617571,"MULTIPOLYGON (((-72.76143 41.24233, -72.75973 ..."

# Merge on shape file data

In [208]:
us_shape.statefp = us_shape.statefp.astype(int)

In [211]:
us_shape.columns = [x.lower() for x in us_shape.columns]
final_shape_data = us_shape.merge(df_covid_pop_state_party, left_on='statefp', right_on='fips')

In [214]:
final_shape_data.to_pickle('../../src/data/shape_covid_pop.pickle')

In [219]:
percent_red = pd.DataFrame(percent_red)
percent_red.columns = ['percent_red']

In [ ]:
final_shape_data.merge(percent_red,